<%= render "shared/nav_bar"%>
<%= render "shared/messages"%>
<% @categories.each do |item|%>
  <%= link_to category_path(item), class: 'text-decoration-none' do%>
    <div class="row align-items-center m-1 p-1 border border-secondary">
      <%= image_tag(item.icon_url, class: 'img-fluid col-4')%>
      <p class= "col-4 text-center text-dark fs-5"><%= item.name%></p>
      <p class= "col-4 text-center text-dark fs-5"><%=number_to_currency(item.transacctions.sum(:amount))%></p>
    </div>
  <%end%>
<%end%>

<%= link_to 'Add category', new_category_path, class:'my-3 btn btn-primary w-100 rounded-0' %>
